@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1{
    font-family:'Roboto';
}
.trans{
    @apply transition duration-1000 ease-out
}


.flex-colo{
    @apply flex justify-center items-center flex-col
}
.flex-rows{
    @apply flex justify-center items-center flex-row gap-12 text-xs
}
input:focus,select:focus,textarea:focus{
    outline: 0;
}
.box-1{
    width: 36%;
}
.box-2{
    width:64%;
}
.box-shadow{
    box-shadow: 10px 10px 40px 0px #24252614;
    box-shadow: -10px -10px 40px 0px #24252614;

}

@media (max-width:640px) {
    .main-box{
        flex-direction:column
    }
    .box-1,.box-2{
        width: 100%;
    }
    label{
        font-size: .9rem;
    }
}
